.profile {
  padding: 20px;
  display: flex;
}

.photo {
  margin-right: 15px;
  max-width: 300px;
}

.contacts {
  margin-top: 10px;
}

.link {
  margin-right: 5px;
  display: inline-block;
  color: gold;
}

.fullName {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

.statusText {
  opacity: .7;
}