.dialogs {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.dialogsItems {
  padding: 15px;
  width: 20%;
  flex: 0 0 20%;
}

.dialog {

}

.link {
  color: #ffffff;
}

.active {
  color: #ff0033;
}

.messages {
  padding: 15px;
  width: 70%;
  flex: 0 0 70%;
}

.addMessage {
  margin-top: 20px;
  text-align: right;
}